<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        $(document).ready(function () {uvData() })
      function uvData() {
          $.ajax({
              type: "GET",
              url: "/uv",
              data: {},
              success: function (response) {
                  let uvStatus = response['uv'][0]
                  let uvScore = response['uv'][1]
                  if (uvStatus=='높음') {
                      let temp_html = `<p>오늘의 자외선은 ${uvStatus}입니다.</p>
                                   <p>오늘의 자외선 점수는 ${uvScore} 입니다.</p>
                                       <p>자외선 지수가 높으니 선글라스를 챙기세요! 😎</p>`
                      $('#post-box').append(temp_html)
                  } else if (uvStatus=='매우높음') {
                      let temp_html = `<p>오늘의 자외선은 ${uvStatus}입니다.</p>
                                   <p>오늘의 자외선 점수는 ${uvScore} 입니다.</p>
                                       <p>자외선 지수가 높으니 외출을 자제하세요! 🥵</p>`
                      $('#post-box').append(temp_html)
                  } else {
                      let temp_html = `<p>오늘의 자외선은 ${uvStatus}입니다.</p>
                                   <p>오늘의 자외선 점수는 ${uvScore} 입니다.</p>`
                      $('#post-box').append(temp_html)
                  }
              }

          })
      }
    </script>

</head>
<body>
    <div>
        <h1>자외선을 측정해보자</h1>
    </div>
    <div id="post-box">
    </div>

</body>
</html>